<% route_connections = @directions.get_route_connections(params[:start_city], params[:end_city], current_user.storage) %>

<div class="main-container">

  <div class="row">

    <div class="col-12 col-md-4 col-lg-4">
      <!-- Added a div with 200px for the search form as not done yet -->
      <div style="margin-top: 200px">
      </div>

      <div class="connection-card">
        <% raise %>
        <% route_connections.each do |route|%>
          <%= connection[:transport_type] %> <%= Time.at(connection[:end_time] - connection[:start_time]).utc.strftime("%H:%M:%S") %>
          <p> <%= connection[:origin_city] %> at <%= connection[:start_time] %> -> <%= connection[:destination_city] %> at <%= connection[:end_time] %>
        <div class="connection-card-top">
          <%= raise %>
          <h6><strong>monday 13th of december</strong></h6>
          <p><strong>68€</strong></p>
        </div>
        <div class="connection-card-bottom">
          <div class="connection-detail">
            <div class="connection-city">
              <p>city - <strong>00.00am</strong></p>
              <p class="station"><strong>city station</strong></p>
            </div>
            <div class="duration">
             <strong>1h23min</strong>
            </div>
            <div class="connection-city">
              <p>city - <strong>00.00am</strong></p>
              <p class="station"><strong>city station</strong></p>
            </div>
          </div>
          <div class="button-book">
            <a class="btn btn-book" href="#">BOOK TRIP</a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-8 col-lg-8">
      <%= render 'shared/map' %>
    </div>

  </div>
</div>
