<% route_connections = @directions.get_route_connections("o", "d", current_user.storage) %>

<div class="main-container">
    <div class="sidebar">
      <div class="btn-container">
        <%#= link_to 'Back to Journeys', journey_results_path, class: 'btn btn-back' %>
        <%= link_to 'Save Trip', journeys_path, method: :post, class: 'btn btn-book' %>
      </div>

      <% unless route_connections.nil? %>

      <% route_connections.each do |route|%>
        <% route[1][:connections].each do |connection| %>
          <div class="connection-card">
            <div class="connection-card-top">
              <h6><strong> <%= Time.at(connection[:start_time]).strftime("%A, %B %-d") %></strong></h6>
<!--               <p><strong>Price: 74€</strong></p> -->
            </div>
          <div class="connection-card-bottom">
            <div class="connection-detail">
              <div class="connection-city">
                <p><%= Geocoder.search([connection[:start_latitude], connection[:start_longitude]]).first.city%> - <strong><%=Time.at(connection[:start_time]).strftime("%H:%Mm") %></strong></p>
                <p class="station"><strong> <%= connection[:origin_city] %></strong></p>
              </div>
              <div class="d-flex icon-row" style="justify-content: space-between">
                <div>
                  <% if Journey::TRAINS.include? connection[:transport_type] %>
                    <%= image_tag 'icons/train-icontrain.png' %>
                  <% elsif Journey::SUBWAYS.include? connection[:transport_type] %>
                    <%= image_tag 'icons/subway-iconsubway.png' %>
                  <% elsif Journey::BUS.include? connection[:transport_type] %>
                    <%= image_tag 'icons/bus-iconbus.png' %>
                  <% end %>
                </div>
                <div class="duration">
                  <strong> <%= (Time.at(connection[:end_time]) - (connection[:start_time])).utc.strftime("%Hh%Mm") %></strong>
                </div>
              </div>
            <div class="connection-city">
              <p><%= Geocoder.search([connection[:end_latitude], connection[:end_longitude]]).first.city%> - <strong><%=Time.at(connection[:end_time]).strftime("%H:%Mm") %></strong></p>
              <p class="station"><strong><%= connection[:destination_city] %></strong></p>


              <%= form_tag new_pois_path, method: :post, remote: true do %>
                <%= hidden_field_tag "lat", connection[:end_latitude] %>
                <%= hidden_field_tag "lng", connection[:end_longitude] %>
                <%= submit_tag "Check Recommendations", class: "btn btn-go btn-recommendations", data: { toggle: 'modal', target: '.bd-example-modal-lg'} %>
              <% end %>

              <%#= link_to 'Check Recommendations', bookings_path, class: 'btn btn-go' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>


    <div class="map-section">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
</div>

