<% route_connections = @directions.get_route_connections(params[:start_city], params[:end_city], current_user.storage) %>

<div class="main-container">
  <div class="row">

    <div class="col-12 col-md-4 col-lg-4">
      <div style="margin-top: 200px">
      </div>
      <% route_connections.each do |route|%>
        <%= link_to connections_path do %>
            <div class="journey-card">
              <div class="journey-card-top">
                <div class="journey-card-content">
                  <h6><strong><%= params[:start_city].capitalize %> to <%= params[:end_city].capitalize %></strong></h6>
                  <p><strong><%= route[1][:total_duration] %>
                </strong></p>
                </div>
              </div>

              <div class="journey-card-bottom">
                <% route[1][:connections].each do |connection| %>
                  <% connection[:transport_type] %>
                  <% if ["Train", "Long distance train"].include? connection[:transport_type] %>
                    <%= image_tag 'icons/train-icontrain.png' %>
                  <% elsif ["Subway"].include? connection[:transport_type] %>
                    <%= image_tag 'icons/subway-iconsubway.png' %>
                  <% elsif ["Bus"].include? connection[:transport_type] %>
                    <%= image_tag 'icons/bus-iconbus.png' %>
                  <% end %>

                <% end %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>


    <div class="col-12 col-md-8 col-lg-8">
      <%= render 'shared/map' %>
    </div>
  </div>
</div>
