<div class="main-container">
    <div class="sidebar">
      <div class="form-div" id="search-con-page">
        <%= form_tag journey_results_path, method: :post do %>
        <%= text_field_tag :starts_at, nil, class: "string flatpickrcon datepicker flatpickr-input input-field", id: "search_starts_at", value: @token.starts_at, readonly: "readonly" %>
          <div class="form-inputs" id="input-connection">
            <%= text_field_tag :start_city, nil, value: @token.start_city, id:"resultsform", class: 'input-field' %>
            <%= text_field_tag :end_city, nil, value: @token.end_city, id:"resultsform", class: 'input-field' %>
          </div>

          <div id="form-cta" class="form-action">
          <%= submit_tag "Let's go", class: 'btn btn-go', id: "results-button"%>
          </div>

          <% end %>
      </div>


      <% @route_connections.each do |route|%>
          <%= link_to journey_connections_path, style:"text-decoration: none" do %>
            <div class="journey-card">
              <div class="journey-card-top">
                <div class="journey-card-content">
                  <h6><strong><%= @token.start_city.split(',').first.capitalize %> to <%= @token.end_city.split(',').first.capitalize %></strong></h6>
                  <p><strong><%= route[1][:total_duration] %>
                </strong></p>
                </div>
              </div>

              <div class="journey-card-bottom">
                <% route[1][:connections].each do |connection| %>
                  <% connection[:transport_type] %>
                  <% if ["Train", "Long distance train", "High speed train"].include? connection[:transport_type] %>
                    <%= image_tag 'icons/train-icontrain.png' %>
                  <% elsif ["Subway", "Commuter train", "Tram"].include? connection[:transport_type] %>
                    <%= image_tag 'icons/subway-iconsubway.png' %>
                  <% elsif ["Bus"].include? connection[:transport_type] %>
                    <%= image_tag 'icons/bus-iconbus.png' %>
                  <% end %>

                <% end %>
              </div>
            </div>
          <% end %>
      <% end %>
            <div class="infospace">
              <iframe style="padding-left: 25px;"width="450" height="750" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" src="https://calculator.carbonfootprint.com/calculator.aspx?c=flight"></iframe>

            </div>
    </div>

    <div class="map-section">
      <div id="map" data-markers="<%= @markers.to_json %>" style="position: fixed"></div>
<!--       <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">
      </script> -->
<!--       <div id="content">
        Hello world!
      </div> -->
    </div>

</div>
