<div class="main-container" id="form-container">

  <h2 class="form-h2">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="login-form-inputs">

      <div class="login-input-field">
        <%= f.input :email,
                    label: false,
                    placeholder: "Email",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="login-input-field">
        <%= f.input :password,
                    label: false,
                    placeholder: "Password",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="login-input-field">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

    </div>

  <div id="form-cta">
    <%= f.button :submit, "Log in", class: "btn btn-go btn-submit", style: "width: 100%" %>
  </div>
<% end %>

  <div id="form-cta">
    <%= render "devise/shared/links" %>
  </div>
</div>
