<div class="container">
  <div class="back">
    <%= link_to profile_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="route-detail">
    <div class="route-detail-header">
      <div class="journey-details">
        <h1><%= @journey.name %></h1>
        <p><%= @journey.total_duration %></p>
      </div>
      <%= link_to 'View Bookings', bookings_path, class: 'btn btn-book' %>
    </div>
    <div class="route-connection-cards">
      <% @journey.connections.reverse.each do |connection| %>
        <% @connection = connection %>
        <div class="route-connection-card">
          <div class="line"></div>
          <div class="route-connection-content d-flex">
            <div data-toggle="tooltip" title="<%=connection[:transport_type]%>">
              <% if Journey::TRAINS.include? connection[:transport_type] %>
              <%= image_tag 'icons/train-icontrain.png' %>
              <% elsif Journey::SUBWAYS.include? connection[:transport_type] %>
              <%= image_tag 'icons/subway-iconsubway.png' %>
              <% elsif Journey::BUS.include? connection[:transport_type] %>
              <%= image_tag 'icons/bus-iconbus.png' %>
              <% end %>
            </div>
            <div class="route-connections">
              <h4><strong> <%= Geocoder.search([connection[:start_latitude],connection[:start_longitude]]).first.country %></strong> - <%= connection[:origin_city] %></h4>
              <p></p>
              <h4><strong> <%= Geocoder.search([connection[:end_latitude],connection[:end_longitude]]).first.country %></strong> - <%= connection[:destination_city] %></h4>
              <p></p>
            </div>
            <div class="duration">
              <strong> <%= (Time.at(connection[:end_time].to_i) - (connection[:start_time].to_i)).utc.strftime("%Hh%Mm") %></strong>
            </div>
            <div>
              <p>Service Provider</p>
              <%= link_to connection[:provider], connection[:provider_website], target: :_blank %>
            </div>
            <div>
              <%= simple_form_for @connection do |f| %>
                <%= f.input :booking_status, label: "Already Booked?" %>
                <%= f.button :submit, class:"btn btn-go" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
